alive-progress~=3.1.1
beautifulsoup4~=4.12.2
python-dotenv~=1.0.0
requests~=2.28.2
trueskill~=0.4.5
urllib3~=1.26.15
tabulate~=0.9.0
pandas~=2.0.0
numpy~=1.24.2
matplotlib
scikit-learn
tenacity~=8.2.2
pytest~=7.3.0